<header>
    <nav>
        <ul>
            <li><a href="Home.html">Home</a></li>
            <li><a href="SearchFundraisers.html">Search Fundraisers</a></li>
            <li><a href="Fundraisers.html">Fundraiser</a></li>
        </ul>
    </nav>
</header>

<!-- Main Content -->
<main>
    <!-- Welcome area -->
    <section id="welcome">
        <h1>Welcome to Qiao Kang's Fundraising Website</h1>
        <p>Welcome to my fundraising site! First of all, thank you very much, whether you donate or not, because your presence here has proved that you have the desire to help others. Every donation will be used to help others. Whether it is to support post-disaster reconstruction, to enable poor children to get an education, or to raise funds for a cause you care about, you can find an opportunity to change the world or at least change one person here.</p>
    </section>

    <h2 style="text-align: center;">All Active Fundraisers</h2>
    <!-- Here is a list of active fundraisers -->
    <div id="data"></div> 

    <!-- Contact Section -->
    <section id="contact">
        <h2>Contact Me</h2>
        <p>If you have any questions, contact me by <strong><a href="mailto:q.kang.10@student.scu.edu.au">q.kang.10@student.scu.edu.au</a></strong>.</p>
    </section>

    <!-- Footer -->
<footer>
    <p>&copy; 2024 Qiao Kang Fundraising Web. All Rights Reserved.</p>
</footer>

</main>