<header>
    <nav>
        <ul>
            <li><a [routerLink]="['/home']">Home</a></li>
            <li><a [routerLink]="['/fundraisers']">Fundraiser</a></li>
            <li><a [routerLink]="['/search-fundraisers']">Search Fundraisers</a></li>
            <li><a [routerLink]="['/donation']">Donation</a></li>
        </ul>
    </nav>
</header>

<div class="container">
    <div id="fundraiserDetails" class="fundraiser-details">
        <!-- Fundraiser details will be displayed here -->
        <div *ngIf="fundraiser">
            <h2>{{ fundraiser.CAPTION }}</h2>
            <p><strong>Organizer:</strong> {{ fundraiser.ORGANIZER }}</p>
            <p><strong>Target Funding:</strong> {{ fundraiser.TARGET_FUNDING }} AUD</p>
            <p><strong>Current Funding:</strong> {{ fundraiser.CURRENT_FUNDING }} AUD</p>
            <p><strong>City:</strong> {{ fundraiser.CITY }}</p>
            <p><strong>Category:</strong> {{ fundraiser.Category_Name }}</p>
            <p><strong>Status:</strong> {{ fundraiser.ACTIVE ? 'Active' : 'Inactive' }}</p>
          </div>
    </div>
    <button class="donate-btn" routerLink="/donation/{{fundraiser.FUNDRAISER_ID}}">Donate</button>
</div>

<!-- Footer -->
<footer>
    <p>&copy; 2024 Qiao Kang & Zhenrui Tian Fundraising Web. All Rights Reserved.</p>
</footer>