<header>
    <nav>
        <ul>
            <li><a [routerLink]="['/home']">Home</a></li>
            <li><a [routerLink]="['/fundraisers']">Fundraiser</a></li>
            <li><a [routerLink]="['/search-fundraisers']">Search Fundraisers</a></li>
            <li><a [routerLink]="['/donation']">Donation</a></li>
        </ul>
    </nav>
</header>

<div class="container">
    <div id="fundraiserDetails" class="fundraiser-details">
        <!-- Fundraiser details will be displayed here -->
    </div>
    <button class="donate-btn" (click)="showDonateMessage()">Donate</button>
</div>

<!-- Footer -->
<footer>
    <p>&copy; 2024 Qiao Kang & Zhenrui Tian Fundraising Web. All Rights Reserved.</p>
</footer>