<header>
    <nav>
        <ul>
            <li><a href="Home.html">Home</a></li>
            <li><a href="SearchFundraisers.html">Search Fundraisers</a></li>
            <li><a href="Fundraisers.html">Fundraiser</a></li>
        </ul>
    </nav>
</header>

<div class="container">
    <div id="fundraiserDetails" class="fundraiser-details">
        <!-- Fundraiser details will be displayed here -->
    </div>
    <button class="donate-btn" (click)="showDonateMessage()">Donate</button>
</div>

<!-- Footer -->
<footer>
    <p>&copy; 2024 Qiao Kang Fundraising Web. All Rights Reserved.</p>
</footer>